$primary-text-color: #2c1200;
$secondary-text-color: #212121;
$primary-black-color: #000000;
$primary-beige-color: #b39b58;
$content-font: Roboto, sans-serif;
$hero-gradient: linear-gradient(to right, rgb(77, 34, 6), rgb(34, 15, 3));
